.section__descriptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}
.section__descriptions{ animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--section-overlay); */
    background: rgba(250, 250, 250, 0.85);

    padding: 3rem;
    margin: 3rem;
    margin-top: 3.5rem;

    border-radius: 1rem;
}

.description__card-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 12px;
}

.description__card-icon>small {
    text-transform: capitalize;
    font-size: 10px;
}

@media screen and (max-width: 1024px) {
    .section__descriptions {

        grid-template-columns: 1fr 1fr;
    }
    .section__descriptions{
        gap: 1px;

    }
    .card{
        padding: 1rem;
        margin: 1rem;
        margin-top: 4rem;
    }
}